<mat-card fxLayout="column">
    <mat-card-title>{{collection}}</mat-card-title>
    <mat-card-subtitle *ngIf="listSource.value.length > 0">Page {{pageSource.value+1}} of
        {{maxPages == 0 ? 1 : maxPages}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="listSource.value.length == 0">No Items here. There may be no valid items in the folder, or
        folder scanning may still be in progress.</mat-card-subtitle>
    <div fxLayout="column" fxLayoutGap="1em" *ngIf="thumbnails.length > 0 && !loading">
        <form [formGroup]="sortForm" fxLayout="row">
            <mat-form-field fxFlex="100%">
                <mat-label>Sort</mat-label>
                <mat-select formControlName="sort">
                    <mat-option *ngFor="let sort of sorts; let i = index" value="{{i}}">{{sort}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div fxLayout="row wrap" fxLayoutGap="1em"><span>Jump to page:</span>
            <a *ngFor="let item of [].constructor(maxPages); let i = index" (click)="toPage(i)"
                style="font-weight: bold; text-decoration: underline;">{{i+1}}</a>
        </div>
        <mat-grid-list cols="15" rowHeight="1:1" fxHide fxShow.gt-lg>
            <mat-grid-tile *ngFor="let thumbnail of thumbnails" fxLayout="column">
                <div *ngIf="thumbnail" fxFill matTooltip="{{thumbnail.DateTimeOriginal.rawValue}}"
                    [style.background-image]="'url(data:image/jpeg;base64,' + thumbnail.thumbnail + ')'"
                    [style.background-position]="'center'" [style.background-size]="'cover'" fxLayout="column"
                    fxLayoutAlign="center center" routerLink="/gallery/{{collection}}/{{thumbnail._id}}">
                    <div *ngIf="thumbnail.MIMEType.startsWith('video')" style="color: white; font-weight: bold;">
                        Play
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="10" rowHeight="1:1" fxHide fxShow.lg>
            <mat-grid-tile *ngFor="let thumbnail of thumbnails" fxLayout="column">
                <div *ngIf="thumbnail" fxFill matTooltip="{{thumbnail.DateTimeOriginal.rawValue}}"
                    [style.background-image]="'url(data:image/jpeg;base64,' + thumbnail.thumbnail + ')'"
                    [style.background-position]="'center'" [style.background-size]="'cover'" fxLayout="column"
                    fxLayoutAlign="center center" routerLink="/gallery/{{collection}}/{{thumbnail._id}}">
                    <div *ngIf="thumbnail.MIMEType.startsWith('video')" style="color: white; font-weight: bold;">
                        Play
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="1:1" fxHide fxShow.md>
            <mat-grid-tile *ngFor="let thumbnail of thumbnails" fxLayout="column">
                <div *ngIf="thumbnail" fxFill matTooltip="{{thumbnail.DateTimeOriginal.rawValue}}"
                    [style.background-image]="'url(data:image/jpeg;base64,' + thumbnail.thumbnail + ')'"
                    [style.background-position]="'center'" [style.background-size]="'cover'" fxLayout="column"
                    fxLayoutAlign="center center" routerLink="/gallery/{{collection}}/{{thumbnail._id}}">
                    <div *ngIf="thumbnail.MIMEType.startsWith('video')" style="color: white; font-weight: bold;">
                        Play
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="1:1" fxHide fxShow.sm>
            <mat-grid-tile *ngFor="let thumbnail of thumbnails" fxLayout="column">
                <div *ngIf="thumbnail" fxFill matTooltip="{{thumbnail.DateTimeOriginal.rawValue}}"
                    [style.background-image]="'url(data:image/jpeg;base64,' + thumbnail.thumbnail + ')'"
                    [style.background-position]="'center'" [style.background-size]="'cover'" fxLayout="column"
                    fxLayoutAlign="center center" routerLink="/gallery/{{collection}}/{{thumbnail._id}}">
                    <div *ngIf="thumbnail.MIMEType.startsWith('video')" style="color: white; font-weight: bold;">
                        Play
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="1:1" fxHide fxShow.lt-sm>
            <mat-grid-tile *ngFor="let thumbnail of thumbnails" fxLayout="column">
                <div *ngIf="thumbnail" fxFill matTooltip="{{thumbnail.DateTimeOriginal.rawValue}}"
                    [style.background-image]="'url(data:image/jpeg;base64,' + thumbnail.thumbnail + ')'"
                    [style.background-position]="'center'" [style.background-size]="'cover'" fxLayout="column"
                    fxLayoutAlign="center center" routerLink="/gallery/{{collection}}/{{thumbnail._id}}">
                    <div *ngIf="thumbnail.MIMEType.startsWith('video')" style="color: white; font-weight: bold;">
                        Play
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div fxLayout="row wrap" fxLayoutGap="1em"><span>Jump to page:</span>
            <a *ngFor="let item of [].constructor(maxPages); let i = index" (click)="toPage(i)"
                style="font-weight: bold; text-decoration: underline;">{{i+1}}</a>
        </div>
    </div>
    <p *ngIf="loading || (thumbnails.length == 0 && listSource.value.length > 0)">Please wait...</p>
</mat-card>

<div style="height: 6em;"></div>

<div style="position: fixed; bottom: 1.5em; right: 1.5em;" fxLayout="row" fxLayoutGap="1em"
    *ngIf="thumbnails.length > 0 && !loading">
    <button mat-fab color="primary" matTooltip="Previous Page" aria-label="Previous Page" (click)="prev()"
        *ngIf="pageSource.value &gt; 0">
        --
    </button>
    <button mat-fab color="primary" matTooltip="Next Page" aria-label="Next Page" (click)="next()"
        *ngIf="pageSource.value &lt; maxPages - 1">
        ++
    </button>
</div>