<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" class="stdMargin">
    <div fxLayout="column" fxFlex="100%" fxLayoutGap="1em">
        <div fxLayout="column" fxLayoutGap="0.3em">
            <span class="xLargeText">Folders</span>
            <span *ngIf="dirs.length == 0">No folders added yet.</span>
        </div>
        <div fxLayout="column" fxLayoutGap="0.3em">
            <div *ngFor="let dir of dirs" fxLayout="column" fxLayoutGap="0.3em">
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
                    fxLayoutAlign.lt-sm="default default" fxLayoutGap="1em">
                    <a routerLink="/gallery/{{dir.collection}}" style="word-break: break-all;">{{dir.collection}} -
                        {{dir.dir}}</a>
                    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                        <span>Status: <strong *ngIf="dir.status">{{dir.status.toUpperCase()}}</strong><strong
                                *ngIf="!dir.status">WAITING</strong></span>
                        <button mat-icon-button color="warn" (click)="remove(dir.collection)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="0.3em">
        <span class="xLargeText">Add Folder</span>
        <form [formGroup]="addForm" (ngSubmit)="add()" fxLayout="row" fxLayout.lt-md="column"
            fxLayoutAlign="start start" fxLayoutGap="1em" fxLayoutGap.lt-md="0">
            <mat-form-field>
                <input matInput formControlName="collection" placeholder="Name" type="text" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="dir" placeholder="Path" type="text" required>
            </mat-form-field>
            <button mat-icon-button color="primary-button" type="submit">
                <mat-icon>add</mat-icon>
            </button>
        </form>
    </div>
</div>