<mat-dialog-title fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxLayoutGap="0.3em">
        <span class=xLargeText *ngIf="item" style="word-wrap: break-word; word-break: break-all;">{{data.collection}} -
            {{item.FileName}}
        </span>
        <span *ngIf="!item" style="word-wrap: break-word; word-break: break-all;">No Item
        </span>
        <span *ngIf="dateString">{{dateString}}</span>
    </div>
    <button mat-icon-button color="warn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-title>
<mat-dialog-content *ngIf="item" fxLayout="row" fxLayoutAlign="center">
    <img *ngIf="item.MIMEType.startsWith('image') && !loading" [src]="imageSrc"
        style="max-height: 100%; max-width: 100%; object-fit: contain;">
    <video [src]="imageSrc" *ngIf="item.MIMEType.startsWith('video') && !loading"
        style="width: 100% !important; height: auto !important;" controls>
        Your browser does not support the video tag.
    </video>
    <div class="bottomFixed" *ngIf="loading">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
</mat-dialog-content>