<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <a routerLink="/">Ona</a>
    <div fxLayout="row wrap" fxLayoutGap="1em" *ngIf="isLoggedIn">
        <button mat-icon-button routerLink="/choice" routerLinkActive="active">
            <mat-icon>dynamic_feed</mat-icon>
        </button>
        <button mat-icon-button routerLink="/config" routerLinkActive="active">
            <mat-icon>settings_applications_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>